<button
    class="app-button"
    [attr.data-testid]="testId() || null"
    [ngClass]="{
        'flex justify-center items-center rounded-sm cursor-pointer gap-1 px-spacing-6 py-spacing-3': true,
        'hover:text-text-states-active hover:border-border-hover': !disabled(),
        'disabled:bg-button-background-disabled disabled:text-button-text-states-disabled disabled:cursor-not-allowed': disabled(),
        'border-border-default text-text-default border': buttonType() === APP_BUTTON_TYPES.DEFAULT,
        'bg-button-submit-background hover:opacity-95 text-white': buttonType() === APP_BUTTON_TYPES.SUBMIT,
        'bg-button-danger-background': buttonType() === APP_BUTTON_TYPES.DANGER,
    }"
    [disabled]="disabled()"
    (click)="onClick.emit()"
>
    <ng-content></ng-content>
</button>
